@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 스크롤바 숨기기 */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

/* 깜빡이는 삼각형 애니메이션 */
@keyframes pulse {
  0%, 100% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(5px) translateX(-50%);
  }
}

/* index.css */

.no-select-btn {
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  appearance: none;
  outline: none;

  .no-select {
    user-select: none;
    -webkit-user-select: none;
  }
}

/* 웹 전체 블록 금지 */
* {
  user-select: none !important;
  -webkit-user-select: none !important;
  -webkit-touch-callout: none !important; /* iOS에서 복사 팝업도 차단 */
}
