@tailwind base;
@tailwind components;
@tailwind utilities;

/* 텍스트 선택 방지 클래스 추가 - GalleryWalk 페이지에서만 적용 */
.gallery-text-no-select {
  user-select: none !important;
  -webkit-user-select: none !important;
  -webkit-touch-callout: none !important;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFF0;
  color: #3d3b38;
  height: 100vh;
  overflow-x: hidden;
  
  /* 기본적으로 텍스트 선택 가능하도록 설정 */
  user-select: auto;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 스크롤바 숨기기 */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

/* 깜빡이는 삼각형 애니메이션 */
@keyframes pulse {
  0%, 100% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(5px) translateX(-50%);
  }
}

/* 버튼 관련 스타일 */
.no-select-btn {
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  appearance: none;
  outline: none;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
}
